.sidebar {
    width: 200px;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;


    .sidebar-btn {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #FFF;
        display: flex;
        justify-content: space-between;

        &:hover {
            background-color: #DDD;
            cursor: pointer;
        }

        &[data-selected=true] {
            background-color: hsl(211, 100%, 50%);
            color: #fff;

            &:hover {
                background-color: #2b76d8a9;
                cursor: pointer;
            }
        }

    }

    .sidebar-btn .tooltip-show-symbol {
        display: flex;
        justify-content: center;

        &:hover {

            background-color: #DDD;
            border-radius: 5px;
            font-size: 15px;

            .sidebar-btn {
                background-color: #FFF;
            }

            .tooltip .tooltip-content {
                display: block;
            }
        }
    }

    .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;

        .tooltip-content {
            display: none;
            width: 100px;
            background-color: #FFF;
            color: #505050;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 11;
            top: 100%;
            /* Position above the tooltip */
            // left: 130%;
            margin-left: -28px;
            /* Center the tooltip */
            // opacity: 100;
            box-shadow: 3px 3px 10px grey;
            transition: opacity 0.3s;
            
            .tool-item {
                border-radius: 6px;
                padding: 5px;

                &:hover {
                    background-color: #DDD;
                }
            }
        }

        .tool-panel {

            .tool-panel button {
                display: block;
                background-color: #4CAF50;
                /* Green */
                border: none;
                color: white;
                padding: 10px 15px;
                text-align: center;
                text-decoration: none;
                margin: 5px;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }

    // .tooltip:hover .tooltip-content {
    //     visibility: visible;
    //     opacity: 1;
    // }


}